<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.tp.dominio.Pais"></mapping>
        <mapping class="com.tp.dominio.TipoDocumento"></mapping>
        <mapping class="com.tp.dominio.TipoHabitacion"></mapping>
        <mapping class="com.tp.dominio.CostoPorNoche"></mapping>
        <mapping class="com.tp.dominio.Servicio"></mapping>
        <mapping class="com.tp.dominio.ItemFactura"></mapping>
        <mapping class="com.tp.dominio.Provincia"></mapping>
        <mapping class="com.tp.dominio.Ciudad"></mapping>
        <mapping class="com.tp.dominio.Direccion"></mapping>
    </session-factory>
</hibernate-configuration>