<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.tp.logica.dominio.Pais"></mapping>
        <mapping class="com.tp.logica.dominio.TipoDocumento"></mapping>
        <mapping class="com.tp.logica.dominio.TipoHabitacion"></mapping>
        <mapping class="com.tp.logica.dominio.CostoPorNoche"></mapping>
        <mapping class="com.tp.logica.dominio.Servicio"></mapping>
        <mapping class="com.tp.logica.dominio.ItemFactura"></mapping>
        <mapping class="com.tp.logica.dominio.Provincia"></mapping>
        <mapping class="com.tp.logica.dominio.Ciudad"></mapping>
        <mapping class="com.tp.logica.dominio.Direccion"></mapping>
        <mapping class="com.tp.logica.dominio.Factura"></mapping>
        <mapping class="com.tp.logica.dominio.Pago"></mapping>
        <mapping class="com.tp.logica.dominio.Habitacion"></mapping>
        <mapping class="com.tp.logica.dominio.Reserva"></mapping>
        <mapping class="com.tp.logica.dominio.ResponsableReserva"></mapping>
        <mapping class="com.tp.logica.dominio.NotaDeCredito"></mapping>
        <mapping class="com.tp.logica.dominio.ResponsablePagoTercero"></mapping>
        <mapping class="com.tp.logica.dominio.Ocupacion"></mapping>
        <mapping class="com.tp.logica.dominio.Pasajero"></mapping>
        <mapping class="com.tp.logica.dominio.PosicionIVA"></mapping>
        <mapping class="com.tp.logica.dominio.TipoTarjeta"></mapping>
        <mapping class="com.tp.logica.dominio.Banco"></mapping>
        <mapping class="com.tp.logica.dominio.Moneda"></mapping>
        <mapping class="com.tp.logica.dominio.MedioDePago"></mapping>
        <mapping class="com.tp.logica.dominio.Cheque"></mapping>
        <mapping class="com.tp.logica.dominio.Efectivo"></mapping>
        <mapping class="com.tp.logica.dominio.TarjetaDeCredito"></mapping>
        <mapping class="com.tp.logica.dominio.TarjetaDeDebito"></mapping>
        <mapping class="com.tp.logica.dominio.Conserje"></mapping>
    </session-factory>
</hibernate-configuration>